.contact_container {
    width: 45vw;
    min-height: 550px;
    font-size: large;
    margin: auto;
    border-radius: 10px;
    direction: rtl;
    background: linear-gradient(200deg, gray, white);
}

.contact_container h2 {
    text-align: center;
}

.flex-items {
    display: flex;
    justify-content: space-around;
}

.mailto-tel {
    margin: 8px 0 8px 0;
}

.gender-container {
    display: flex;
    width: 53%;
    gap: 30px
}
