.contact_container {
    width: 50vw;
    height: 600px;
    font-size: large;
    margin: auto;
    border-radius: 10px;
    direction: rtl;
    background: linear-gradient(200deg, gray, white);
}

.contact_container h2 {
    text-align: center;
}

.flex-items {
    display: flex;
    justify-content: space-around;
}