button {
    min-width: 38px;
    min-height: 25px;
    padding: 0.2rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 0.4rem;
    border: 1px solid;
    line-height: 1.5;
    color: white;
}

button:disabled,
button:disabled:hover {
    color: black;
    background-color: #373b3e;
    border-color: #373b3e;
    box-shadow: 0 0 0 0;
}

.contacts-list-btn {
    background: khaki url("./img/list.svg") center/2em auto no-repeat;
    border-color: khaki;
}

.alphabets-btn {
    background: khaki url("./img/address-book.svg") center/2em auto no-repeat;
    border-color: khaki;
}

.search-btn {
    background: khaki url("./img/search.svg") center/1.2em auto no-repeat;
    border-color: khaki;
}

.contacts-list-btn:hover,
.alphabets-btn:hover,
.search-btn:hover {
    background-color: gold;
    border-color: gold;
    box-shadow: 0 0 0 2px gold;
    color: black;
}

.sideBar-btn:focus {
    background: gold;
    border-color: gold;
    color: black
}

.sideBar-btn {
    background: linear-gradient(180deg, rgb(131, 66, 196), purple);
    border-color: rgba(102, 51, 153, 0.5);
}

.green-btn {
    background-color: #198754;
    border-color: #198754;
}

.green-btn:hover {
    background-color: #136941;
    border-color: #136941;
    box-shadow: 0 0 0 2px #136941;
}

.close-btn {
    background: transparent url("./img/close.svg") center/1em auto no-repeat;
    border-color: transparent;
}

.delete-btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

.close-btn:hover,
.delete-btn:hover {
    background-color: #a82734;
    border-color: #a82734;
    box-shadow: 0 0 0 2px #a82734;
}

.gray-btn {
    background-color: #6c757d;
    border-color: #6c757d;
}

.gray-btn:hover {
    background-color: #565e64;
    border-color: #565e64;
    box-shadow: 0 0 0 2px #565e64;
}

.black-btn {
    background-color: #212529;
    border-color: #212529;
}

.black-btn:hover {
    background-color: #373b3e;
    border-color: #373b3e;
    box-shadow: 0 0 0 2px #373b3e;
}

.edit-btn{
    background: #136941 url("./img/edit.svg") center/1em auto no-repeat;
    border-color: #136941;
}
.trash-btn{
    background: #dc3545 url("./img/trash.svg") center/1em auto no-repeat;
    border-color: #dc3545;
}
.fav-btn {
    background: transparent url("./img/favorite.svg") center/1em auto no-repeat;
}

.fav-btn-yellow {
    background: yellow url("./img/favorite.svg") center/1em auto no-repeat;
    border-color: yellow;
}

.ascending {
    background: white url("./img/sort-up.svg") center/1em auto no-repeat;
}

.descending {
    background: white url("./img/sort-down.svg") center/1em auto no-repeat;
}

.sort-btn {
    width: 100px;
}

@media screen and(max-width:800px) {
    button {
        min-width: 20px;
        min-height: 10px;
        padding: 0.1rem 0.5rem;
        font-size: 1rem;
        font-weight: 300;
    }
}