.container {
    direction: rtl;
    width: 95vw;
    height: 1400px;
    margin: auto;
    /* background: linear-gradient(180deg, gray, white); */
    background: linear-gradient(180deg, rgb(252, 171, 185), rgb(252, 207, 125));
    border-radius: 10px;
}

.search-result {
    padding: 80px;
    width: 50vw;
    min-height: 200px;
    font-size: large;
    margin: auto;
    color: black;
    text-align: center;
}

.search-result-innerText {
    border: 10px solid rgba(102, 51, 153, 0.5);
    border-radius: 0.8rem;
    padding: 15px;
}

.search-result-innerText li {
    background-color: rgba(102, 51, 153, 0.5);
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.alphabets-show {
    border: 10px solid rebeccapurple;
    font-size: large;
    position: sticky;
    background: rgba(102, 51, 153, 0.5);
    top: 0;
    border-radius: .4rem;
    min-width: 30vw;
    height: 400px;
    padding: 50px;
    margin-right: 150px;
}

.sideBar {
    display: flex;
    padding: 30px;
    padding-top: 80px;
    direction: rtl;
    position: absolute;
    z-index: 7;
    /* background-color: gray; */
    background-color: rgba(139, 127, 151, 0.486);
    width: 100px;
    height: 1290px;
    border-radius: 10px;
}

.hide {
    display: none;
}

.form {
    margin: auto;
    width: 60%;
    padding-top: 100px;
}