.header {
    margin-top: 0;
    padding: 20px 0 20px 0;
    position: fixed;
    z-index: 10;
    direction: rtl;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.pink-header {
    background-color: rgba(139, 127, 151, 0.486);
}

.olive-header {
    background-color: rgba(127, 151, 139, 0.486);
}

.tooltip {
    background: linear-gradient(180deg, khaki, gold);
    text-shadow: 0 2px 1px khaki;
    color: black;
}

.red-tooltip {
    background: linear-gradient(180deg, white, #ee1f34);
    text-shadow: 0 1px 1px white;
}

.green-tooltip {
    background: linear-gradient(180deg, white, rgb(2, 100, 39));
    text-shadow: 0 1px 1px white;
}

@media screen and (max-width:400px) {
    .header {
        width: 96vw;
    }

    .header .green-btn,
    .header .delete-btn {
        width: 20px;
    }

    .tooltip {
        font-weight: 100;
        font-size: xx-small;
        padding: 3px;
    }
}

@media screen and (min-width:401px) {
    .header {
        width: 93.5vw;
    }

    .header .green-btn,
    .header .delete-btn {
        height: 25px;
        width: 25px;
    }

    .tooltip {
        font-weight: bold;
        padding: 5px;
    }
}

@media screen and (min-width:535px) {
    .header {
        width: 94.5vw;
    }

    .tooltip {
        padding: 7px;
    }
}

@media screen and (min-width:670px) {
    .header {
        width: 95.5vw
    }

    .header .green-btn,
    .header .delete-btn {
        height: 30px;
        width: 30px
    }
}

@media screen and (min-width:800px) {
    .header {
        width: 96.5vw
    }
}

@media screen and (min-width:992px) {
    .header {
        width: 96.8vw;
    }

    .header .green-btn,
    .header .delete-btn {
        height: 35px;
        width: 35px
    }
}

@media screen and (min-width:1200px) {
    .header {
        width: 97.5vw;
    }
}