.contactsList-container {
    display: flex;
    position: absolute;
    margin: auto;
    gap: 1vw;
}

.contacts-list {
    margin: auto;
    width: 80%;
    padding-top: 100px;
}

.sort-selection {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 2px;
}

table {
    border: 2px solid;
    border-radius: 0.3rem;
    width: 60vw;
}

.pink-table,
.pink-th {
    border-color: slateblue;
}

.olive-table,
.olive-th {
    border-color: olivedrab;
}

th {
    border: 2px solid;
    border-radius: 0.3rem;
    color: white;
    font-size: medium;
}

.pink-th {
    background-color: slateblue;
}

.olive-th {
    background-color: olivedrab;
}

td {
    border: 2px dotted;
    border-radius: 0.3rem;
    text-align: center;
    background-color: rgba(102, 51, 153, 0.5);
}

.fav-row {
    border: 2px solid;
    font-weight: 600;
}