.inputClass {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
}

input {
    width: 70%;
    height: 1.5rem;
    margin-left: 10px;
    border-radius: .3rem;
    font-size: medium;
}

input[type="radio" i] {
    width: 70px;
    padding: 0;
    box-sizing: content-box;
}

input:focus {
    background-color: lightgray;
}

@media screen and (max-width:800px) {
    .inputClass {
        margin-top: 3px
    }

    .input {
        width: 40%;
        height: 1.2rem;
        margin-left: 5px;
        font-size: small;
    }

    .input[type="radio" i] {
        width: 40px;
    }
}