.login-form {
    margin: auto;
}

.loggedIn {
    margin-right: 0;
    margin-top: 0;
    max-width:max-content;
}

@media screen and (max-width:400px) {
    .loggedIn {
        font-size: xx-small;
    }
}

@media screen and (min-width:401px) {
    .loggedIn {
        font-size: x-small;
    }
}

@media screen and (min-width:535px) {
    .loggedIn {
        font-size: small;
    }
}

@media screen and (min-width:670px) {
    .loggedIn {
        font-size: 0.9rem;
    }
}