.header {
    direction: rtl;
    display: flex;
    width: 94.9vw;
    margin-top: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(139, 127, 151, 0.486);
    justify-content: space-around;
    margin-left: 17.5px;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

nav {
    position: fixed;
    z-index: 10;
}