.contactsList-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 0.5vw;
    min-height: 135px;
}

.sort-selection {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 2px;
}

.sort-btn {
    width: 10vw;
}

table {
    border: 2px solid;
    border-radius: 0.3rem;
    width: 80vw;
}

.pink-table,
.pink-th {
    border-color: slateblue;
}

.olive-table,
.olive-th {
    border-color: olivedrab;
}

th {
    border: 2px solid;
    border-radius: 0.3rem;
    color: white;
    font-size: medium;
}

.pink-th {
    background-color: slateblue;
}

.olive-th {
    background-color: olivedrab;
}

td {
    border: 2px dotted;
    border-radius: 0.3rem;
    text-align: center;
    background-color: rgba(102, 51, 153, 0.5);
}

td button {
    margin-left: 5px;
}

.fav-row {
    border: 2px solid;
    font-weight: 600;
}

@media screen and (max-width:350px) {
    .contactsList-container{
        margin-right: -20px;
    }
    .sorting-btns-container {
        width: 10vw;
    }

    th,
    td {
        font-size: 0.44rem;
    }
}

@media screen and (min-width:351px) {
    /* .sorting-btns-container {
        width: 10vw;
    } */

    th,
    td {
        font-size: 0.47rem;
    }
}

@media screen and (min-width:401px) {
    .sorting-btns-container {
        width: 10vw;
    }

    th,
    td {
        font-size: 0.63rem;
    }
}

@media screen and (min-width:535px) {

    th,
    td {
        font-size: 0.8rem;
    }
}

@media screen and (min-width:670px) {
    .sorting-btns-container {
        width: 11vw;
    }

    th,
    td {
        font-size: 1rem;
    }
}