nav {
    position: fixed;
    z-index: 10;
}

.header {
    direction: rtl;
    display: flex;
    width: 94.9vw;
    margin-top: 0;
    justify-content: space-around;
    margin-left: 1.25vw;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.pinkHeader {
    background-color: rgba(139, 127, 151, 0.486);
}

.oliveHeader {
    background-color: rgba(127, 151, 139, 0.486);
}